<form action="/teachers" method="post">
  <label for="teacher">Teacher Name</label>
  <input type="text" name="name" placeholder="Input your teacher's name.">
  <input type="submit" name="submit" value="Add New Teacher">
</form>
